
.container{

    width: 105px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.box{
    height: 50px;
    width: 50px;
    margin: 1px;
    background-color: blue;
}

.hover{
    background-color: red;
}

button{
    margin: 20px;
}